# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Node / Frontend
node_modules/
.next/
out/
build/
.rts2_cache_cjs/
.rts2_cache_esm/
.rts2_cache_umd/
.rts2_cache_system/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Database & Media
*.db
backend/fire_guard.db
backend/snapshots/
*.sqlite3

# OS
.DS_Store
Thumbs.db
